    </main>
    <footer>
      &copy Creatan <%= new Date().getFullYear() %> | <a href="https://github.com/Creatan/bounty-board">Github</a>
    </footer>
  </div>
  <%- include('icons'); %>
  <script src="/static/js/scripts.js"></script>
</body>
</html>