/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*   UI   */
:root {
  --table-header: #2D232E;
  --bg: #474448;
  --login: #534B52;
  --login-highlight: #625B61;
  --button-highlight: #2D232E;
  --button-bg: #403741;
  --table-bg: #403741;
  --font-color: #E0DDCF;
  --link-color: #B9B9FF;
  --border-color: #534B52;
  --button-border-color: #151015;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--bg);
  color: var(--font-color);
}

h1 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 500;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

header {
  display: flex;
  margin-bottom: 40px;
}

main {
  margin-bottom: 20px;
}

footer {
  text-align: center;
}

button {
  color: var(--font-color);
}
a {
  color: var(--link-color);
  text-decoration: none;
}
.logo {
  background: url(../images/rebbl.png) no-repeat 99%;
  display: inline-block;
  width: 164px;
  height: 100px;
  text-indent: -9999px;
}
.container {
  padding: 10px 20px
}

.btn {
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  border: none;
  position:relative;
  flex: 1 1 auto;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.btn:first-child{
  margin:0;
}

.nav {
  display: flex;
  margin-bottom: 20px;
}

.menu, .filter {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 2px 1px #000;
  background-color: var(--button-bg);
}
.label {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}
.controls {
  display: flex;
  flex: 0 1 calc(100% - 251px);
}
.controls.logged {
  flex: 0 1 calc(100% - 108px);
}

.login a {
  background-color: var(--login);
  border-right: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px 1px #000;
}

.login a:hover {
  background-color: var(--login-highlight);
}

.filter button {
  border-right: solid 1px var(--button-border-color);
}

.filter button:last-of-type{
  border:none;
}

.add button {
  background-color: var(--login);
  border-right: none;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 2px 1px #000;
}

.add button:hover {
  background-color: var(--login-highlight);
}

.menu button:hover, .filter button:hover, .active{
  background-color: var(--button-highlight);
}

.modal-footer button {
  background-color: var(--table-header);
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 1px #000;
  cursor: pointer;
  min-width: 200px;
}
.errors li {
  padding: 2px 0;
  color: #F8512F;
}

.cancel {
  margin-left: 20px;
}
.table{
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 2px 1px #000;
  overflow: hidden;
}

table {
  background-color: var(--table-bg);
  font-size: 13px;
  width: 100%;
}
thead {
  border-bottom: solid 1px var(--border-color);
  background-color: var(--table-header);
}

th {
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
  padding: 8px;
  vertical-align: middle;
}
td {
  padding: 8px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
td:last-of-type {
  border-right: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
td:nth-of-type(4){
  color: #ff8900;
}
td:nth-of-type(2){
  font-size: 15px;
  color: #fff;
}
td:nth-of-type(3){
  font-size: 15px;
  color: #fff;
}
tbody tr:hover {
  background-color: var(--table-header);
}

.hidden {
  display: none;
}

/* MODAL */

.modal {
  display: block;
  width: 100%;
  max-width: 600px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
  background: var(--bg);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
} 
.modal-body {
  padding: 10px 10px 20px 20px;

}
.modal-body h3 {
  margin-bottom: 10px;
}

.modal-row {
  padding: 10px  0px;
}

.modal-row-content {
  display: flex;
}

.modal-row-content .modal-col {
  flex: 1;
}

select {
  padding: 5px;
  background: var(--font-color);
  color: var(--button-bg);
  border: none;
  border-radius: 5px;
  outline: none;
  min-width: 150px;
  display:block;
  margin-top: 10px;
}

input[type="text"] {
  padding: 5px;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  display:block;
  margin-top: 10px;
}

input[type="checkbox"] + label {
  display: inline-block;
}

.modal-footer {
  border-top: 1px solid var(--button-border-color);
  /* display: flex;
  justify-content: center; */
  padding: 20px;
}
.help {
  font-size: 0.8em;
}
.modal-header {
  padding: 20px;
  border-bottom: 1px solid var(--button-border-color);
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #ff8900;
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}


/* Rethinkg the colors */
tr[data-claimed="claimable"] {
  background-color: var(--font-color);
  cursor: pointer;
}
tr[data-claimed="claimable"]:hover {
  background-color: var(--font-color);
  cursor: pointer;
}
tr[data-claimed="claimable"] td{
  color: var(--table-bg);
}
tr[data-claimed="claimable"] td:nth-child(4){
  color: #ff8900;
}