<div class="modal closed">
  <form action="/bounty" method="post">
    <div class="modal-header">
      Add new bounty
    </div>
    <div class="modal-body">
      <div class="modal-row">
        <label for="league">League</label>
        <select name="league" id="">
          <option value="" selected></option>
          <%season.leagues.forEach(league => {%>
            <option value="<%=league.value%>"><%=league.label%></option>
          <%})%>
        </select>
      </div>
      <div class="modal-row">
        <label for="division">Division</label>
        <select name="division" id="">
          <option value="" selected></option>
          <%season.divisions.forEach(division => {%>
            <option class="hidden" value="<%=division.value%>"><%=division.label%></option>
          <%})%>
        </select>
      </div>
      <div class="modal-row">
        <label>Team</label>
        <select name="team" id="">
          <option value="" selected></option>
        </select>
      </div>
      <div class="modal-row">
        <label>Player</label>
        <select name="player" id="">
          <option value="" selected></option>
        </select>
      </div>
      <div class="modal-row">
        <label>Requirement</label>
        <div class="modal-row-content">
          <div class="modal-col">
            <div>
              <input type="checkbox" id="ag" name="requirement" value="-AG"/>
              <label for="ag">- AG</label>
            </div>
            <div>
              <input type="checkbox" id="st" name="requirement" value="-ST"/>
              <label for="st">- ST</label>
            </div>
            <div>
              <input type="checkbox" id="av" name="requirement" value="-AV"/>
              <label for="av">- AV</label>
            </div>
            <div>
              <input type="checkbox" id="ma" name="requirement" value="-MA"/>
              <label for="ma">- MA</label>
            </div>
          </div>
          <div class="modal-col">
            <div>
              <input type="checkbox" id="dead" name="requirement" value="Dead"/>
              <label for="dead">Dead</label>
            </div>
            <div>
              <input type="checkbox" id="retired" name="requirement" value="Retired"/>
              <label for="retired">Retired</label>
            </div>
            <div>
              <input type="checkbox" id="niggle" name="requirement" value="Niggled"/>
              <label for="niggle">Niggle</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-row">
        <label>Reason</label>
        <input type="text" name="reason" id="">
      </div>
      <div class="modal-row">
        <label>Prize</label>
        <input type="text" name="prize" id="">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" >Add</button>
      <button type="button" class="cancel">Cancel</button>
    </div>
  </form>
</div>
<div class="modal-overlay closed"></div>