<div class="modal">
  <form action="/bounty" method="post">
    <div class="modal-header">
      Add new bounty
    </div>
    <div class="modal-body">
      <div class="modal-row">
        <label for="league">League</label>
        <select name="league" id="">
          <option value="GMAN 5E">GMAN 5E</option>
        </select>
      </div>
      <div class="modal-row">
        <label>Team</label>
        <select name="Team" id="">
          <option value="The Duellists">The Duellists</option>
        </select>
      </div>
      <div class="modal-row">
        <label>Player</label>
        <select name="player" id="">
          <option value="12312412412">Lzzy Hale</option>
        </select>
      </div>
      <div class="modal-row">
        <label>Requirements</label>
        <select name="requirements" id="">
          <option value="dead">Dead</option>
        </select>
      </div>
      <div class="modal-row">
        <label>Reason</label>
        <input type="text" name="reason" id="">
      </div>
      <div class="modal-row">
        <label>Prize</label>
        <input type="text" name="prize" id="">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" >Add</button>
      <button type="button" class="cancel">Cancel</button>
    </div>
  </form>
</div>
<div class="modal-overlay"></div>